html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

.banner {
    position: relative;
}

.img-flex {
  display: inline-block;
  width: 100%;
}

.content {
  position: absolute;
  left: 10px;
  bottom: 5px;
  max-width: 500px;
  overflow: hidden;
}

h2 {
  display: inline;
  color: #fff;
  font-size: 4rem;
  background-color: rgba(0, 0, 0, .5);
  margin:0;
  padding: 0;
}

p {
  font-size: 2rem;
  font-style: italic;

}
